### Example user template template
### Example user template

# IntelliJ project files

*.iml
out
gen
.git
.gitignore
.idea

.idea/inspectionProfiles/profiles_settings.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/gitCode.iml
.idea/.gitignore


